* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* Navbar Style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    color: #E67E22; /* Makhana Orange */
}

.logo span {
    color: #F1C40F; /* Lays Yellow */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #E67E22;
}

.btn-buy {
    background: #E67E22;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(230, 126, 34, 0.3);
}

/* Hero Section */
.hero {
    height: 85vh;
    background: linear-gradient(135deg, #F1C40F 60%, #fff 40%);
    display: flex;
    align-items: center;
    padding: 0 8%;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.1;
    color: #D35400;
    font-family: 'Fredoka One', cursive;
}

.hero-content h1 span {
    color: #fff;
    text-shadow: 2px 2px 0px #D35400;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #555;
}

.explore-btn {
    background: #fff;
    color: #D35400;
    border: 2px solid #D35400;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background: #D35400;
    color: #fff;
}

.hero-image img {
    width: 100%;
    filter: drop-shadow(20px 20px 30px rgba(0,0,0,0.2));
    animation: bounce 3s infinite ease-in-out;
}

/* Floating Animation */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}